<div class="container clearfix">
  <div class="people-list" id="people-list">
    <div class="search">
      <input type="text" class="searchInput" placeholder="search" />
      <i class="fa fa-search"></i>
    </div>
    <ul class="list">
      <li class="clearfix no-bullets" *ngFor="let personneWithIp of personnesWithIp" (click)="selectPersonne(personneWithIp)">
        <div class="about">
          <div class="name">{{personneWithIp.personne.pseudo}}</div>
          <div class="status">
            <span class="dot"></span>
            <i class="fa fa-circle online"></i> online
          </div>
        </div>
      </li>
      <li class="clearfix no-bullets" (click)="refreshWhosOnline()">
        <div class="about">
          <div class="name">Refresh who's online</div>
        </div>
      </li>
      <li class="clearfix no-bullets" (click)="enterParam()">
        <div class="about">
          <div class="name">Choose network</div>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="param">
    <div *ngFor="let network of networks">
      {{network.network}}
      <ul>
        <li *ngFor="let ip of network.addresses" (click)="selectIp(network.network, ip)">
          {{ip}}
        </li>
      </ul>
    </div>
  </div>

  <div class="chat" *ngIf="selectedPerson == null"></div>

  <div class="chat" *ngIf="selectedPerson != null">
    <div class="chat-header clearfix">
      <span class="dot"></span>
      <div class="chat-about">
        <div class="chat-with">Chat with {{selectedPerson.personne.pseudo}}</div>
        <div class="chat-num-messages">already {{messages.length}} messages</div>
      </div>
      <i class="fa fa-star"></i>
    </div> <!-- end chat-header -->

    <div class="chat-history">
      <ul>
        <li class="clearfix no-bullets" *ngFor="let message of messages">
          <div *ngIf="message.myMessage">
            <div class="message-data align-right">
              <span class="message-data-time" >{{message.date| date: 'dd/MM/yy, HH:mm'}}</span> &nbsp; &nbsp;
              <span  class="message-data-name" >Me</span> <i class="fa fa-circle me"></i>
            </div>
            <div class="message other-message float-right">
              {{message.contenu}}
            </div>
          </div>
          <div *ngIf="!message.myMessage">
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> {{message.personne.pseudo}}</span>
              <span class="message-data-time">{{message.date | date: 'dd/MM/yy, HH:mm'}}</span>
            </div>
            <div class="message my-message">
              {{message.contenu}}
            </div>
          </div>
        </li>
      </ul>

    </div> <!-- end chat-history -->

    <div class="chat-message clearfix">
      <form [formGroup]="messageSend">
        <div class="form-group">

          <textarea (keypress)="checkEnter($event)" name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3" formControlName="message"></textarea>

          <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
          <i class="fa fa-file-image-o"></i>

        </div>
        <button type="submit" (click)="sendMessage()">Send</button>
      </form>
    </div> <!-- end chat-message -->

  </div> <!-- end chat -->

</div> <!-- end container -->
